body{
  background-color: #E4F9F5;
  font-family: monospace;
}

.first{
  width: 50%;
margin: 100px auto 100px auto;
  text-align: left;

}

.m1{
  width: 15%;
  float: left;
  margin-right: 30px;
}

p{
    line-height: 2;

  }

  hr{
    border:none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    width: 5%;
  margin: 100px auto 100px auto;

  }

  .m2{

      width: 25%;
      float: right;
      margin-left:  30px;
    }

    .m3{
      width: 25%;
      float: left;
      margin-right: 30px;
    }
